{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grooming</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="body">
<a href="/">
    <img class="image" src="{% static 'grooming.png' %}" alt="Starting image">
</a>
<h1 class="header">Witamy na stronie</h1>

{% block content %}


        {% if user.is_authenticated %}
            <div class="links">
                <a href="/add_dog">Dodaj psa</a><br>
                <a href="/add_service">Dodaj usługę</a><br>
                <a href="/service_list">Lista usług</a><br>
                <a href="/dog_list">Lista psów</a><br>
                <a href="/add_client">Dodaj klienta</a><br>
                <a href="/add_employee">Dodaj pracownika</a><br>
                <a href="/employees_list">Lista pracowników</a><br>
                <a href="/reservation">Rezerwacja</a><br>
            </div>
        {% else %}
            <div class="links">
                <a href="/employees_list">Lista pracowników</a><br>
                <a href="/service_list">Lista usług</a><br>
                <a href="/add_dog">Dodaj psa</a><br>
                <a href="/dog_list">Lista psów</a><br>
                <a href="/add_client">Dodaj klienta</a><br>
                <a href="/reservation">Rezerwacja</a><br>
            </div>
        {% endif %}


    <div class="login-view">
        {% if user.is_anonymous %}
            <a href="{% url 'login' %}">Log in</a>
        {% else %}
            <a href="{% url 'logout' %}">Log out</a>
    </div>
        {% endif %}

{% endblock %}
</body>
</html>
