{% extends 'base.html' %}

{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
<br action="/update/{{ dogs.id }}" method="POST">
    {% csrf_token %}
    <label>
        Imię psa:
        <input type="text" name="dog_name" value="{{ dogs.dog_name }}">
    </label>
    <label>
        Rasa:
        <input type="text" name="breed" value="{{ dogs.breed }}">
    </label>
    <label>
        Wiek:
        <input type="text" name="age" value="{{ dogs.age }}">
    </label>
    <label>
        Komentarz:
        <input type="text" name="comment" value="{{ dogs.comment }}">
    </label>
    <br><input type="submit" value="Modyfikuj"></br>
</form>
</body>
</html>
{% endblock %}
